@font-face {
    font-family: 'nastliq';
    src: url('../fonts/urdupoint.com-webfont.eot');
    src: url('../fonts/urdupoint.com-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/urdupoint.com-webfont.woff') format('woff'), url('../fonts/urdupoint.com-webfont.ttf') format('truetype'), url('../fonts/urdupoint.com-webfont.svg#NafeesRegular') format('svg');
}
.urdu {
    font-family: 'nastliq';
    font-size: 16px;
    direction: rtl;
}